@using Microsoft.AspNetCore.Html
@model Country_DbBO
@{
    ViewData["Title"] = "Marco";
}

<div class="row" ng-cloak>
    <div class="col-md-12">
        <h1>@Model.Country.Name</h1>
    </div>
</div>
<div class="row" ng-cloak>
    <div class="col-md-4">
        <h3>Names</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Common</th>
                        <td>@Model.Country.Name</td>
                    </tr>
                    <tr>
                        <th>Official</th>
                        <td>@Model.Country.Name_Official</td>
                    </tr>
                    <tr>
                        <th>Chinese</th>
                        <td>@Model.Country.Name_Chinese</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <h3>Codes</h3>
        <div class="table-reponsive">
            <table class="table table-bordered">
                <tr>
                    <th>ISO 3166-1 Alpha-2</th>
                    <td>@Model.Country.CountryCode</td>
                </tr>
                <tr>
                    <th>ISO 3166-1 Alpha-3</th>
                    <td>@Model.Country.CountryCodeA3</td>
                </tr>
            </table>
        </div>

        <h3>Cities</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    @foreach (City city in Model.Cities)
                    {
                        <tr>
                            <td>@if (city.IsCapital) {<b>@city.Name</b>} else { @city.Name }</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="col-md-4">
        <h3>Language</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    @foreach (string lang in Model.Country.Languages.Split(' '))
                    {
                        <tr>
                            <td>@lang</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h3>Geography</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Region</th>
                        <td>@Model.Country.Region</td>
                    </tr>
                    <tr>
                        <th>Subregion</th>
                        <td>@Model.Country.Subregion</td>
                    </tr>
                    <tr>
                        <th>Area</th>
                        <td>
                            <span>@(Model.Country.Area == 0 ? new HtmlString("-") : Model.Country.Area.ToString("#,##0")) km&#178;</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Population</th>
                        <td>
                            <span>@(Model.Country.Population == 0 ? new HtmlString("-") : Model.Country.Population.ToString("#,##0"))</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4 fake-heading">
        <img src=@Model.Country.FlagPermalink alt="The flag of @Model.Country.Name" class="img-responsive country-flag">
        @if (!string.IsNullOrEmpty(Model.Country.CoatOfArmsPermalink))
        {
            <img src="@Model.Country.CoatOfArmsPermalink" alt="The Coat of Arms of @Model.Country.Name" class="img-responsive country-coatofarms">
        }
    </div>
</div>